<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="LOG_COMPLETEPAY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dynamic.log.path}/data-listener.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dynamic.log.path}/data-listener.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<appender name="BINLOG_MSG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dynamic.log.path}/binlog-msg.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dynamic.log.path}/binlog-msg.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<appender name="HEARTBEAT-MSG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dynamic.log.path}/heartbeat-msg.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dynamic.log.path}/heartbeat-msg.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<appender name="ERROR_MSG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dynamic.log.path}/error-msg.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dynamic.log.path}/error-msg.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<!-- log output to console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>



	<!-- base -->
	<logger name="data_listener" level="INFO" additivity="false">
		<appender-ref ref="LOG_COMPLETEPAY_FILE"/>
	</logger>


	<logger name="msg-error" level="INFO" additivity="false">
		<appender-ref ref="ERROR_MSG"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.dmall" level="ERROR" additivity="false">
		<appender-ref ref="ERROR_MSG"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="binlog-msg" level="INFO" additivity="false">
		<appender-ref ref="BINLOG_MSG"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="heartbeat-msg" level="INFO" additivity="false">
		<appender-ref ref="HEARTBEAT-MSG"/>
		<appender-ref ref="CONSOLE" />
	</logger>


	<root level="${log.console.level}">
		<appender-ref ref="LOG_COMPLETEPAY_FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
