<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName">


	<!--集群模式-->
	<bean id="clusterCanalClient" class="com.retail.datahub.canal.ClusterCanalClient" init-method="init">
		<property name="zkList" value="${zkserver}"/>
		<property name="destination" value="${destination}" />
		<property name="listenerdb" value="${listenerdb}"/>
		<property name="listenertable" value="${listenertable}"/>
		<property name="event" value="${event}"/>
		<property name="topic_prefix" value="${topic_prefix}" />
		<property name="topic_suffix" value="${topic_suffix}" />
		<property name="mysqlLogProduct" ref="mysqlLogProduct"/>
	</bean>


</beans>